<div id="hesap-makinesi">
	<div class="ust">
		<span class="temizle">C</span>
		<div class="ekran"></div>
	</div>
	
	<div class="tuslar">
		<span>7</span>
		<span>8</span>
		<span>9</span>
		<span class="operator">+</span>
		<span>4</span>
		<span>5</span>
		<span>6</span>
		<span class="operator">-</span>
		<span>1</span>
		<span>2</span>
		<span>3</span>
		<span class="operator">÷</span>
		<span>0</span>
		<span>.</span>
		<span class="esittir">=</span>
		<span class="operator">x</span>
	</div>
	<button class="tuslar" (click)="logout()">Çıkış yap</button>
</div>
